.header__link {
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #FFF;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  transition: opacity .3s ease-in;
}

.header__link:hover {
  opacity: .6;
}

@media screen and (max-width: 767px) {
  .header__link {
  }
}
